body {
    margin: 10px;
}

.top {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto 10px auto;
}

.logo {
    grid-column: 2;
    grid-row: 1;
}

.content {
    grid-column: 2;
    grid-row: 3;
}

.left {
    grid-column: 1;
    grid-row: 3;
    margin-left: auto;
    margin-right: 15%;
}

.right {
    grid-column: 3;
    grid-row: 3;
    margin-left: 15%;
    margin-right: auto;
}

.left, .right {
    margin-bottom: auto;
    margin-top: auto;
    max-width: 100px;
    width: 80%;
}
