body {
    background: #dde4ff;
    font-family: Arial;
    margin: 0;
}

.top {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto 10px auto;
}

.logo {
    grid-column: 2;
    grid-row: 1;
}

.content {
    grid-column: 2;
    grid-row: 3;
}

.left {
    grid-column: 1;
    grid-row: 3;
    margin-left: auto;
    margin-right: 15%;
}

.right {
    grid-column: 3;
    grid-row: 3;
    margin-left: 15%;
    margin-right: auto;
}

.left, .right {
    margin-bottom: auto;
    margin-top: auto;
    max-width: 100px;
    width: 80%;
}

/* latin */
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url("/fonts/GloriaHallelujah.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.story {
    display: inline;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 600px;
}

#error_message {
    color: red;
}

.row {
    display: flex;
}

.even {
    background-color: #d6dfff;
}

.odd {
    background-color: #c2cfff;
}

.even, .odd {
    align-content: center;
    display: flex;
}

.name_area {
    display: flex;
    flex-direction: down;
}

.name {
    margin-bottom: auto;
    margin-top: auto;
}

.centered {
    margin: auto;
    text-align: center;
}
