.fields {
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 5px;
}

.label {
    text-align: right;
    margin-bottom: auto;
    margin-right: 10px;
    margin-top: auto;
}

.top_aligned_label {
    text-align: right;
    margin-right: 10px;
}

.error_message {
    color: red;
}

#frequency_input {
    column-gap: 1px;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    margin-left: 4em;
}

.repeated {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.left10px {
    margin-left: 10px
}

.indent {
    margin-left: 30px;
}

.right5px {
    margin-right: 5px;
}

.right10px {
    margin-right: 10px;
}

.row_spacer {
    margin-top: 5px;
}

.double_row_spacer {
    margin-top: 10px;
}

.period {
    width: 40px;
    margin-bottom: 15px;
}

.radio {
    margin-bottom: auto;
    margin-right: 1px;
    margin-top: auto;
}

.repeated {
    display: flex;
    flex-direction: column;
}

.weekday {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.group_checkbox {
    margin-top: 5px;
}

.group_label {
    text-align: left;
    margin-bottom: auto;
    margin-left: 3px;
    margin-top: auto;
}

select {
    margin: auto auto auto 0;
}

.submit {
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.submit * {
    margin: 10px;
}

.disabled {
    color: darkgray;
}

.vertically_centered {
    margin-bottom: auto;
    margin-top: auto;
}

#name_input {
    margin: auto auto auto 0;
    width: 15em;
}
