.list {
    grid-template-columns: 100px 80px 2em auto 35px 80px 80px 90px 90px 7em;
}

.mark_button {
    margin: auto;
}

.position {
    margin-right: 10px;
}

.move_input {
    width: 2em;
}

.smiley {
    background-repeat: no-repeat;
    background-size: 50px;
    height: 50px;
    padding: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 50px;
}

.good {
    background-image: url("/images/good.svgz");
}

.bad {
    background-image: url("/images/bad.svgz");
}
