.title {
    display: block;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.question {
    font-size: 20px;
}

.logo {
    display: grid;
    grid-template-columns: auto 300px auto;
}

.logo_entry {
    margin: auto;
}
