.fields {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.label {
    text-align: right;
    margin-bottom: auto;
    margin-right: 10px;
    margin-top: auto;
}

.error_message {
    color: red;
}

#frequency_input {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-right: auto;
}

#group_input {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-right: auto;
}

select {
    margin: auto auto auto 0;
}

.submit {
    margin: auto;
    width: 200px;
}

.submit * {
    margin: 10px;
}
