.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.enter {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0px;
    position: relative;
}

.active {
    background: #728fff;
    padding: 10px;
}

.inactive {
    background: #476bff;
    padding: 10px;
}

.inactive a {
    color: white;
}

span.inactive:hover {
    background: #5d7dff;
}

form {
    background: #728fff;
    color: white;
    font-family: Arial;
    font-size: 20;
    padding: 10px;
}

form .fields {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

form .fields input {
    background: #c3d0ff;
    border: 0;
    font-family: Arial;
    font-size: 20;
    padding: 5px;
}

form #error-message {
    color: #9b0000;
    padding-bottom: 10px;
}
