.enter {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.tabs {
    bottom: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: -10px;
    margin-right: 20px;
    position: relative;
}

.active {
    background: #728fff;
    padding: 10px;
}

.inactive {
    background: #476bff;
    padding: 10px;
}

.inactive a {
    color: white;
}

span.inactive:hover {
    background: #5d7dff;
}

form {
    background: #728fff;
    color: white;
    font-family: Arial;
    font-size: 20;
    padding: 10px;
}

form .fields {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

form .fields input {
    background: #c3d0ff;
    border: 0;
    font-family: Arial;
    font-size: 20;
    padding: 5px;
}

form #error-message {
    color: #9b0000;
    padding-bottom: 10px;
}
