.list {
    display: grid;
    font-size: 24;
    grid-template-columns: 100px 100px 3em auto 100px 100px 9em;
    padding: 10px;
}

.even {
    background-color: #d6dfff;
}

.odd {
    background-color: #c2cfff;
}

.even, .odd {
    align-content: center;
    display: flex;
}

.mark_button {
    margin: auto;
}

.position {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
}

.name {
    margin-bottom: auto;
    margin-top: auto;
}

.scale {
    margin: auto;
}

.move {
    margin: auto;
}

.header {
    font-weight: bold;
}

.new-index {
    padding-right: 2px;
    text-align: right;
    width: 40px;
}

.new_link, .logout_link {
    display: block;
    margin-top: 20px;
}

.new_link {
    float: left;
}

.logout_link {
    float: right;
}

.smiley {
    background-repeat: no-repeat;
    background-size: 50px;
    height: 50px;
    padding: 25px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50px;
}

.good {
    background-image: url("/images/good.svgz");
}

.bad {
    background-image: url("/images/bad.svgz");
}
