.list {
    font-size: 24;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 600px;
}

table {
    border-collapse: collapse;
    font-size: 24;
    width: 600px;
}

thead {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #d6dfff;
}
tbody tr:nth-child(odd) {
    background-color: #c2cfff;
}

.new-index {
    padding-right: 2px;
    text-align: right;
    width: 40px;
}

.new_link, .logout_link {
    display: block;
    margin-top: 20px;
}

.new_link {
    float: left;
}

.logout_link {
    float: right;
}

.smiley {
    background-repeat: no-repeat;
    background-size: 50px;
    height: 50px;
    padding: 25px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50px;
}

.good {
    background-image: url("/images/good.svgz");
}

.bad {
    background-image: url("/images/bad.svgz");
}
