.bold-text {
    font-weight: bold;
}

.underlined-text {
    text-decoration: underline;
}

.red-text {
    text-decoration-color: red;
}

.blue-text {
    text-decoration-color: blue;
}

.green-text {
    text-decoration-color: green;
}

.introduce-text {
    font-weight: bold;
    text-decoration-color: cyan;
}

form, a {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    width: 50px;
}
